<%-include ../layouts/header%>
<style>
h1.title {
	font-size:50px;
}

.alert-message .block-message .info {
	background-color: #ddf4fb;
	border-color: #c6edf9;
}

.alert-message {
	color: #404040;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
</style>
<div class="_example container-narrow">
	<div class="masthead">
	<%-include ../layouts/menu%>

	<h3 class="muted">compoundjs-exam</h3>
	</div>
	<hr>

	<section>

	<h3>Upload</h3>
	<div class="bs-docs-example" style="padding-bottom: 24px;">

		<% var form = formFor("upload_test", { action: "/upload/filesave", method: "post", enctype: "multipart/form-data" }); %>
		<%- form.begin() %>
		<input name="file" id="file" type="file" value="" style="width:60px;height:25px" />
		<br><br>
		<button type="submit" class="btn btn-large btn-primary">upload</button>
		<%- form.end() %>

	</div>

	</section>

	<div class="footer">
	<p>&copy; yuilsang 2013</p>
	</div>
</div>
<%-include ../layouts/footer%>